.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  background: rgba(14, 14, 14, 0.568);
  width: 100%;
  height: 100%;
}
.modal-container {
  width: 15%;
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 30px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

/* ------------------ pokemon details ------------------ */

.poke-detaisl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.poke-details-img {
  width: 200px;
}

.status-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  padding: 10px;
  gap: 40px;
}

.poke-status {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  width: 100%;
}

#poke-details-title {
  font-size: 1.8em;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#poke-details-title-div {
  padding: 10px;
}
